body{
  background-color: #000;
}


header .container{
  background-color: #fff;
  color:  #29B1DD;
  font-size: 30px;
}

.jumbo{
  padding: 0;
}

main .container{
  background-color: #eee;
}

.filter{
  background-color: #29B1DD;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-size: 25px;
  vertical-align: middle;
}

.filter select{
  outline: none;
}

.icons{
  padding-top: 20px;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

i{
  font-size: 40px;
}

.icons div{
  width: calc((100% - 160px) / 5);
  height: 100px;
  background-color: #fff;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px grey;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue{
  color: #0000FF;
}

.yellow{
  color: #FFA500;
}

.purple{
  color: #800080;
}
